{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m2 l1"></div>
    <div class="col s12 m8 l10 center-align">
      <h1>welcome to recommender</h1>
      <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}