{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <form action="/songs/add" method="POST" class="col s12">
      <div class="row">
        {% for field in form if field.widget.input_type != "hidden" %}
        {{ form.hidden_tag() }}
        <div class="input-field col s6">
          {{ field(class="validate") }}
          {{ field.label }}
        </div>
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endfor %}
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}